.button {
    display: flex;
    justify-content: end;
    align-items: end;
    color: rgb(73, 118, 255);
    border: none;
    background-color: rgb(194, 244, 255);
    width: max-content;
    font-size: 35px;
    margin-left: 30px;
    margin-right: 30px;
    padding: 10%;
}
.button:hover{
    background-color: rgb(255, 249, 128);
}
.modal{
    width: 50%;
    background-color: rgb(162, 204, 255);
    margin: auto;
    margin-top: 20%;
    display: flex;
    align-items: center;
    justify-content: center;
}