*{
    box-sizing: border-box;
}
.table{
    margin-bottom: 5%;
    margin-top: 2%;
    width: 100%;
    display: flex;
    justify-content: center;
   
}
.row{
    display: inline;
    color:rgb(28, 0, 128);
    width: 50%;
    font-size: 40px;

}
.container{
    width: max-content;
}
